.wt-testimonials-marquee__container {
  background-color: var(--color-background);
}
.wt-testimonials-marquee__item {
  display: flex;
  flex-direction: column;
  background-color: var(--card-color-background, var(--color-background));
  border-radius: var(--border-radius);
  padding: 24px;
  min-width: var(--card-width-mobile);
  height: 100%;
  justify-content: space-between;
  text-align: var(--text-alignment-mobile, left);
}
@media (min-width: 900px) {
  .wt-testimonials-marquee__item {
    min-width: var(--card-width-desk);
    text-align: var(--text-alignment-desktop, left);
  }
}
.wt-testimonials-marquee__heading {
  width: 100%;
  font-size: calc(var(--font-headline-size) * 0.7 * var(--font-text-scale, 1));
  line-height: var(--font-headline-line-height, normal);
  font-weight: var(--font-headline-weight);
  margin: 0 0 10px;
  color: var(--color-marquee-heading-text, var(--color-headings-text, var(--color-text)));
}
@media (min-width: 900px) {
  .wt-testimonials-marquee__heading {
    font-size: calc(var(--font-headline-size) * 0.7 * var(--font-text-scale-desk, 1));
  }
}
.wt-testimonials-marquee__text {
  margin-bottom: 24px;
  font-size: var(--font-base-size);
  font-family: var(--font-base);
  color: var(--color-custom-text, var(--color-text));
}
.wt-testimonials-marquee__text p {
  margin: 0;
}
.wt-testimonials-marquee__author {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-direction: column;
  align-items: var(--author-alignment-mobile, flex-start);
}
@media (min-width: 900px) {
  .wt-testimonials-marquee__author {
    align-items: var(--author-alignment-desktop, flex-start);
  }
}
.wt-testimonials-marquee__author-details {
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: row;
}
.wt-testimonials-marquee__author-text {
  font-size: calc(var(--font-base-size) * 0.8);
  display: block;
  color: var(--color-author, var(--color-text));
  margin-bottom: calc(var(--gap, 8px) * 0.25);
}
.wt-testimonials-marquee__icon {
  width: var(--icon-image-height);
  height: var(--icon-image-height);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}
@media (min-width: 900px) {
  .wt-testimonials-marquee__icon {
    width: var(--icon-image-height-desk);
    height: var(--icon-image-height-desk);
  }
}
.wt-testimonials-marquee .wt-rating__stars {
  font-size: 14px;
}
.wt-testimonials-marquee .wt-brands {
  align-items: normal;
}
.wt-testimonials-marquee .wt-brands__marquee {
  align-items: center;
}
.wt-testimonials-marquee .wt-brands__marquee__content {
  grid-auto-columns: auto;
  height: 100%;
  align-items: stretch;
  --mgap: var(--marquee-gap, 24px);
}
@media (min-width: 900px) {
  .wt-testimonials-marquee .wt-brands__marquee__content {
    --mgap: var(--marquee-gap-desk, 24px);
  }
}
.wt-testimonials-marquee .wt-brands__link {
  height: 100%;
}
.wt-testimonials-marquee .wt-testimonials-marquee__content {
  width: 100%;
}
.wt-testimonials-marquee__slide .wt-testimonials-marquee__item {
  width: 100%;
  min-width: unset;
  box-sizing: border-box;
  height: 100%;
}
.wt-testimonials-marquee__slider .swiper-wrapper {
  align-items: stretch;
}
.wt-testimonials-marquee__slider .wt-slider__container--featured .wt-testimonials-marquee__slide.swiper-slide {
  height: auto;
  align-self: stretch;
}
.wt-testimonials-marquee__slider .wt-slider__container--featured {
  padding-bottom: 36px;
}

[dir=rtl] .wt-testimonials-marquee .wt-brands__marquee {
  flex-direction: row-reverse;
}
/*# sourceMappingURL=section-marquee-testimonial.css.map */
